/* The following code covers both breakpoints (Desktop and Mobile) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 94%);
}

.summary-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;

  width: 100%;
  height: 100vh;
}

.summary-component {
  max-width: 32rem;
  height: 52rem;
  background-color: #fff;

  border-radius: 1.4rem;
  overflow: hidden;

  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.summary-img {
  width: 32rem;
  margin-bottom: 2.4rem;
}

.summary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.summary-text {
  font-size: 1.3rem;
  font-weight: 400;

  max-width: 25rem;
  text-align: center;

  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 3.2rem;

  line-height: 1.6;
}

.summary-plan {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.plan-grid {
  display: grid;
  grid-template-columns: 16.5rem 5rem;
  align-items: center;
  justify-content: center;
  column-gap: 3.8rem;

  background-color: hsl(225, 100%, 98%);
  padding: 1.4rem;
  border-radius: 1rem;
}

.plan-img {
  width: 4.2rem;
  height: 4.2rem;
}

.plan-desc {
  display: flex;
  align-items: center;
  gap: 1.8rem;

  margin-right: 2.4rem;
}

.plan-text {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.plan-price {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.change-btn {
  color: hsl(245, 75%, 52%);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.summary-proceed {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

.proceed-btn {
  background: none;
  background-color: hsl(245, 75%, 52%);
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 1.2rem 4.8rem;
  border-radius: 0.3rem;

  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.cancel-btn {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-weight: 600;
}

.credits {
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  color: rgba(0, 0, 0, 0.6);
}
